 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 726px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 12.5rem;
  margin: 60px auto 0 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  line-height: 1.6;
  font-weight: 700;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 594px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 394px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 816px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -32px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 696px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 0px;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 0 0 80px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0 80px;
}

.u-section-2 .u-image-1 {
  width: 266px;
  height: 222px;
  margin: 30px 244px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 696px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 25px;
}

.u-section-2 .u-image-2 {
  width: 205px;
  height: 245px;
  margin: 0 0 0 305px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 0px;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 95px 80px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 20px 80px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: 144px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 574px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 205px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 34px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 150px;
    height: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 643px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 260px;
    height: 310px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 160px;
    height: 191px;
  }
} .u-section-3 {
  min-height: 769px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 769px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 100px;
}

.u-section-3 .u-image-1 {
  width: 343px;
  height: 355px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 60px 165px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 769px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-shape-1 {
  width: 228px;
  height: 385px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 60px 78px 0 37px;
}

.u-section-3 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 31px 77px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 634px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 634px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 35px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 10px;
    margin-left: 35px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 24px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 699px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 27px;
    margin-right: 17px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 200px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 320px;
    height: 331px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 48px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 48px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 717px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -131px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 603px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 0 0 80px;
}

.u-section-4 .u-group-1 {
  width: 314px;
  min-height: 80px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px 196px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 60px 0 0 80px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 597px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px 25px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: 0 80px 0 0;
}

.u-section-4 .u-image-1 {
  width: 277px;
  height: 324px;
  margin: 30px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -19px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 497px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    margin-right: 96px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-group-1 {
    width: 300px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 613px;
}

.u-section-5 .u-group-1 {
  width: 1000px;
  min-height: 456px;
  margin: 59px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 20px 0 0 auto;
}

.u-section-5 .u-text-2 {
  letter-spacing: 0px;
  width: 573px;
  font-weight: 700;
  margin: 71px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-5 .u-group-1 {
    min-height: 388px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin: 20px 0 59px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-5 .u-group-1 {
    min-height: 480px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 506px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 297px;
  grid-gap: 10px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 186px;
  height: 186px;
  background-image: url("images/pexels-photo-7772808.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  margin: -186px 28px 0 195px;
}

.u-section-6 .u-text-3 {
  font-size: 2.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px 84px 0 139px;
}

.u-section-6 .u-text-4 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 195px 0 28px;
}

.u-section-6 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 37px auto 0 84px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 186px;
  height: 186px;
  background-image: url("images/pexels-photo-8832583.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  margin: -186px 0 0 223px;
}

.u-section-6 .u-text-6 {
  font-size: 2.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px 0 0 223px;
}

.u-section-6 .u-text-7 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0 223px;
}

.u-section-6 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 37px 126px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 245px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 39px;
    margin-right: 295px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: 20px;
    margin-right: 153px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-top: 39px;
    margin-right: 295px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
    margin-right: 153px;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }

  .u-section-6 .u-social-icons-2 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: 275px;
    margin-left: 275px;
    width: 110px;
  }

  .u-section-6 .u-text-3 {
    width: 204px;
    margin-left: 228px;
    margin-right: 228px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
  }

  .u-section-6 .u-social-icons-1 {
    margin-left: 252px;
  }

  .u-section-6 .u-image-2 {
    margin-left: auto;
  }

  .u-section-6 .u-text-5 {
    width: 110px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    width: 204px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-7 {
    width: auto;
  }

  .u-section-6 .u-social-icons-2 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 940px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 21px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 21px;
    margin-left: 7px;
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-4 {
    margin-top: 16px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-left: 182px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 17px;
    margin-right: 21px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 21px;
    margin-left: 7px;
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-7 {
    margin-top: 16px;
  }

  .u-section-6 .u-social-icons-2 {
    margin-left: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-2 {
    margin-left: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 921px;
}

.u-section-7 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  margin: 60px 0 0;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  margin: 23px 640px 0 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 570px 0 0;
}

.u-section-7 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 57px;
  transform-origin: left center;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 57px;
  margin-bottom: -12px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 7px 26px 8px 25px;
}

.u-section-7 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 440px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 370px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 48px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-7 .u-text-1 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-right: 220px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: -275px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 40px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    font-size: 1.875rem;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: -215px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-7 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: -102px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 585px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 465px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  width: 198px;
  height: 198px;
  background-image: url("images/pexels-photo-8789212.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 183px;
  text-transform: none;
  margin: 36px auto 0;
}

.u-section-8 .u-text-3 {
  width: 291px;
  margin: 23px auto 0;
}

.u-section-8 .u-line-1 {
  width: 198px;
  height: 3px;
  transform-origin: left center;
  margin: 30px auto 0;
}

.u-section-8 .u-text-4 {
  width: 291px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 383px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
  }
}